{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Please Logout</title>
</head>
<body class="align login-bg">

<div class="help-block">
        <h4>you are already logged in as <strong>{{ request.user.username }}</strong>.</h4>
        <br><h4>Please click <a href="{% url 'logout' %}?next=/" class="btn btn-primary ml-3">Logout</a> To login as another user.</h4>
    </div>
    <div class="">
        <div class="d-flex justify-content-center links">

        </div>

    </div>

</body>

</html>
{% endblock %}
